body{
    background-color: rgb(35, 128, 128) !important;
}
.box{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 25px !important;
    background-color: transparent;
    border-color: yellow;
    padding: 5px !important;
}
input:focus-visible{
    outline: none;
    border-color: rgb(134, 134, 66);
    transition: 0.5s;
}
::placeholder{
    color: white;
}
button{
    background-color: transparent;
    border-radius: 20px !important;
    border: 1px solid black;
    color: white;
    margin-top: 25px !important;
    padding: 9px 0px;
    box-shadow: 0px 0px 10px 5px yellow;
}